/*
===============
config
=============== */

$max-width:				1270px;
$font-color:			#000000;
$link-color:            #bf39f7;

$primary-color:         #000000;
$secondary-color:       #bf39f7;

$font-size:				16px;
$line-height:			20px;

$font-size-sm:			14px;
$line-height-sm:		20px;

$font-size-md:          25px;
$line-height-md:        20px;

$font-size-lg:          32px;
$line-height-lg:        38px;

$font-size-xlg:         36px;
$line-height-xlg:       38px;

$font-stack:            Helvetica, Arial, sans-serif;

$menu-max-width:        900px;
$sub-menu-max-width:    200px;